section.welcome .img {
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 3;
}

section.welcome .img:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
}
